//Faq

@import "../utils/mixins";
.fondo2 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.247),
      rgba(255, 255, 255, 0.247)
    ),
    url(../../../img/motivacion-gym.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  width: auto;
  height: auto;
  padding: 200px;
  background-attachment: fixed;
  .container {
    width: 90%;
    margin: 100px auto;
    .container-faq {
      box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.1);
      padding: 30px;
      .title-faq {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 30px;
      }
      .item-faq {
        box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        border-radius: 10px;
      }
      .pregunta {
        @include caja-flex(space-between, center, nowrap);
        position: relative;
        background: rgba(43, 51, 122, 0.2);
        padding: 20px 20px 20px 80px;
        transition: 0.4s;
        span {
          position: absolute;
          left: 10px;
          font-size: 3rem;
          top: 10px;
          opacity: 0.1;
        }
        .more {
          @include caja-flex(center, center, nowrap);
          box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
          width: 40px;
          height: 40px;
          font-size: 1rem;
          cursor: pointer;
          transition: 0.4s;
          &:hover {
            box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.4);
          }
        }
      }
      .respuesta {
        @include caja-flex(center, center, wrap);
        position: relative;
        padding: 0 20px 20px 80px;
        overflow: hidden;
        /*height: 0; la idea es con javascript hacer click en el + y que te salga la respuesta*/
        transition: 0.4s;
        p {
          font-size: 1.3rem;
        }
        span {
          position: absolute;
          left: 10px;
          font-size: 3rem;
          top: -10px;
          opacity: 0.1;
        }
      }
    }
  }
  @include portatil {
    padding-bottom: 10px;
    .container {
      width: 100%;
    }
  }
  @include tablet {
    padding: 10px;
    .container-faq .title-faq {
      font-size: 2rem;
    }
  }
  @include mobile {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;

    .container-faq {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 45px;
      font-size: 16px;
      padding: 0;
      .title-faq {
        font-size: 2.5rem;
        margin-top: 25px;
      }
      .item-faq {
        margin: 10px 0;
        border: 1px solid #ccc;
        padding: 3px;
        .pregunta {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}
