//Faq
.fondo2 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.247),
      rgba(255, 255, 255, 0.247)
    ),
    url(../../../img/motivacion-gym.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  width: auto;
  height: auto;
  padding: 200px;
  background-attachment: fixed;
  .container {
    width: 90%;
    margin: 100px auto;
    .container-faq {
      box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.1);
      padding: 30px;
      .title-faq {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 30px;
      }
      .item-faq {
        box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        border-radius: 10px;
      }
      .pregunta {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(43, 51, 122, 0.2);
        padding: 20px 20px 20px 80px;
        transition: 0.4s;
        span {
          position: absolute;
          left: 10px;
          font-size: 3rem;
          top: 10px;
          opacity: 0.1;
        }
        .more {
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
          width: 40px;
          height: 40px;
          font-size: 1rem;
          cursor: pointer;
          transition: 0.4s;
          &:hover {
            box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.4);
          }
        }
      }
      .respuesta {
        position: relative;
        padding: 0 20px 20px 80px;
        overflow: hidden;
        /*height: 0; la idea es con javascript hacer click en el + y que te salga la respuesta*/
        transition: 0.4s;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        p {
          font-size: 1.3rem;
        }
        span {
          position: absolute;
          left: 10px;
          font-size: 3rem;
          top: -10px;
          opacity: 0.1;
        }
      }
    }
  }
}