//Inicio
.fondo {
  background: linear-gradient(
      rgba(255, 255, 255, 0.247),
      rgba(255, 255, 255, 0.247)
    ),
    url(../../../img/pesas.jpg) no-repeat center;
  background-size: cover;
  width: auto;
  height: auto;
  padding: 200px;
  background-attachment: fixed;
  .portada {
    height: 80vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    h2 {
      text-align: center;
      font-size: 70px;
      font-weight: 800;
    }
    h3 {
      font-size: 35px;
      text-align: center;
    }
    a {
      border-radius: 20px;
      text-decoration: none;
      color: $colorprimario;
      background-color: $colorfondo;
      padding: 8px;
      font-size: 16px;
    }
  }
}