//Variables
$colorprimario: white;
$colorfondo: black;

//Inicio
.fondo {
  background: linear-gradient(
      rgba(255, 255, 255, 0.247),
      rgba(255, 255, 255, 0.247)
    ),
    url(../../../img/pesas.jpg) no-repeat center;
  background-size: cover;
  width: auto;
  height: auto;
  padding: 200px;
  background-attachment: fixed;
  .portada {
    height: 80vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    h2 {
      text-align: center;
      font-size: 70px;
      font-weight: 800;
    }
    h3 {
      font-size: 35px;
      text-align: center;
    }
    a {
      border-radius: 20px;
      text-decoration: none;
      color: $colorprimario;
      background-color: $colorfondo;
      padding: 8px;
      font-size: 16px;
    }
  }
}

@import "../utils/mixins";
//Portatil max width 1024px
@include portatil {
  .portada {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-between;
  }
}
//Tablet max width 768px

@include tablet{
  .fondo {
    background: linear-gradient(
        rgba(255, 255, 255, 0.247),
        rgba(255, 255, 255, 0.247)
      ),
      url(../img/pesas.jpg) no-repeat center;
    background-size: cover;
    padding: 171px;
  }
}

//Mobile max width 320px
@include mobile{
  .fondo {
    padding: 160px;
    .portada h2 {
      font-size: 35px;
      font-weight: 800;
      padding-top: 85px;
    }
    .portada h3 {
      font-size: 30px;
      text-align: center;
    }
  }
  .boton {
    display: block;
    margin: 10px auto;
  }
}