//Inicio

@import "../utils/mixins";
.fondo {
  background: linear-gradient(
      rgba(255, 255, 255, 0.247),
      rgba(255, 255, 255, 0.247)
    ),
    url(../../../img/pesas.avif) no-repeat center;
  background-size: cover;
  width: auto;
  height: auto;
  padding: 200px;
  background-attachment: fixed;
  .portada {
    @include caja-flex(space-around, center, wrap);
    flex-direction: column;
    height: 80vh;
    padding: 0 20px;
    h2 {
      text-align: center;
      font-size: 70px;
      font-weight: 800;
    }
    h3 {
      font-size: 35px;
      text-align: center;
    }
    button {
      border: 0;
      background: linear-gradient(#ffffff, rgb(89 89 89 / 0.25));
      border-radius: 8px;
      color: #fff;
      display: flex;
      font-size: 18px;
      padding: 4px;
      cursor: pointer;
      transition: 0.3s;
      span {
        background-color: #111;
        padding: 16px 24px;
        border-radius: 6px;
        transition: 0.3s;
        a {
          text-decoration: none;
          color: $colorgris;
        }
      }
      &:hover span {
        background: none;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  //Portatil inicio
  @include portatil {
    .portada {
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-content: space-between;
    }
  }
  //Tablet inicio
  @include tablet {
    padding: 171px;
    .portada {
      h2{
        font-size: 55px;
      }
    }
  }
  //Mobile inicio
  @include mobile {
    padding: 160px;
    .portada {
      h2 {
        font-size: 35px;
        font-weight: 800;
        padding-top: 85px;
      }
      h3 {
        font-size: 30px;
        text-align: center;
      }
      button {
        display: block;
        margin: 10px auto;
      }
    }
  }
}
