//Nosotros

@import "../utils/mixins";
.fondo1 {
  background: linear-gradient(#ffffff, rgb(89 89 89 / 25%)), url(../../../img/151_hypertrophy-training-division.webp) no-repeat center;
  background-size: cover;
  width: auto;
  height: auto;
  background-attachment: fixed;
  .portada2 {
    @include caja-flex(center,stretch,wrap);
    flex-direction: column;
    text-align: center;
    padding: 60px 10px;

    div h2 {
      font-family: ui-sans-serif;
      display: flex;
      height: 250px;
    }
    .datos {
      display: flex;
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      list-style-type: none;
    }
    .parrafos {
      display: flex;
      font-size: large;
      width: 50%;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .ubicacion {
      display: flex;
      justify-content: flex-end;
      h3 {
        display: flex;
        height: 20vh;
        width: 35%;
        flex-direction: row;
        font-family: serif;
      }
    }
  }
}