* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
  background-color: black;
  font-style: italic;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .headertitulo {
  display: flex;
  align-items: center;
}
header .headertitulo img {
  width: 92px;
}
header .headertitulo a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  header header {
    font-style: italic;
    display: flex;
  }
}
@media screen and (max-width: 320px) {
  header header {
    text-align: center;
  }
  header header .headertitulo h1 {
    font-size: 20px;
  }
}

.navbar {
  background-color: black;
}
.navbar #navbarNav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
}
.navbar #navbarNav ul .nav-item {
  margin: 0 30px;
}
.navbar #navbarNav ul .nav-item .nav-link {
  color: white;
  text-decoration: none;
}
.navbar #navbarNav ul .nav-item .nav-link:hover {
  color: grey;
}
@media screen and (max-width: 1024px) {
  .navbar .navbar-toggler {
    background: linear-gradient(58deg, rgb(222, 220, 255) 39%, rgb(0, 0, 0) 98%);
  }
  .navbar #navbarNav ul .nav-item {
    margin: 0px;
  }
}
@media screen and (max-width: 320px) {
  .navbar nav {
    text-align: center;
    margin-top: 20px;
  }
  .navbar .headernav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: black;
}
@media screen and (max-width: 1024px) {
  footer {
    background-color: black;
    display: flex;
    padding: 35px 2px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }
}

#footerleft {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  flex-direction: column;
}
#footerleft .redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
  list-style-type: none;
  text-decoration: none;
  padding: 0px;
}
#footerleft .redes .imag {
  width: 25px;
}
@media screen and (max-width: 1024px) {
  #footerleft {
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  #footerleft h4 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  #footerleft {
    display: flex;
    margin-bottom: 20px;
  }
  #footerleft .copy {
    width: 100%;
  }
  #footerleft body {
    font-size: 14px;
  }
}

.fondo {
  background: linear-gradient(rgba(255, 255, 255, 0.247), rgba(255, 255, 255, 0.247)), url(../../../img/pesas.avif) no-repeat center;
  background-size: cover;
  width: auto;
  height: auto;
  padding: 200px;
  background-attachment: fixed;
}
.fondo .portada {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 80vh;
  padding: 0 20px;
}
.fondo .portada h2 {
  text-align: center;
  font-size: 70px;
  font-weight: 800;
}
.fondo .portada h3 {
  font-size: 35px;
  text-align: center;
}
.fondo .portada button {
  border: 0;
  background: linear-gradient(#ffffff, rgba(89, 89, 89, 0.25));
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.fondo .portada button span {
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}
.fondo .portada button span a {
  text-decoration: none;
  color: grey;
}
.fondo .portada button:hover span {
  background: none;
}
.fondo .portada button:active {
  transform: scale(0.9);
}
@media screen and (max-width: 1024px) {
  .fondo .portada {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .fondo {
    padding: 171px;
  }
  .fondo .portada h2 {
    font-size: 55px;
  }
}
@media screen and (max-width: 320px) {
  .fondo {
    padding: 160px;
  }
  .fondo .portada h2 {
    font-size: 35px;
    font-weight: 800;
    padding-top: 85px;
  }
  .fondo .portada h3 {
    font-size: 30px;
    text-align: center;
  }
  .fondo .portada button {
    display: block;
    margin: 10px auto;
  }
}

.fondo1 {
  background: linear-gradient(#ffffff, rgba(89, 89, 89, 0.25)), url(../../../img/151_hypertrophy-training-division.webp) no-repeat center;
  background-size: cover;
  width: auto;
  height: auto;
  background-attachment: fixed;
}
.fondo1 .portada2 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 60px 10px;
}
.fondo1 .portada2 div h2 {
  font-family: ui-sans-serif;
  display: flex;
  height: 250px;
}
.fondo1 .portada2 .datos {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}
.fondo1 .portada2 .parrafos {
  display: flex;
  font-size: large;
  width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
}
.fondo1 .portada2 .ubicacion {
  display: flex;
  justify-content: flex-end;
}
.fondo1 .portada2 .ubicacion h3 {
  display: flex;
  height: 20vh;
  width: 35%;
  flex-direction: row;
  font-family: serif;
}
@media screen and (max-width: 1024px) {
  .fondo1 .portada2 .parrafos {
    width: 100%;
    align-content: space-around;
  }
  .fondo1 .portada2 .ubicacion {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    max-width: 100%;
  }
  .fondo1 .portada2 .ubicacion h3 {
    width: 50%;
  }
  .fondo1 .portada2 div .datos {
    display: flex;
    flex-direction: column;
  }
  .fondo1 .portada2 div .datos li p {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .fondo1 .portada2 div h2 {
    width: 100%;
  }
  .fondo1 .portada2 .ubicacion h3 {
    width: 100%;
  }
  .fondo1 .portada2 .parrafos {
    display: flex;
    margin-top: 45px;
    font-size: large;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 320px) {
  .fondo1 .portada2 {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  .fondo1 .portada2 div h2 {
    width: 100%;
    font-size: 18px;
  }
  .fondo1 .portada2 .datos li {
    padding: 3px;
  }
  .fondo1 .portada2 .parrafos {
    width: 100%;
    display: flex;
    align-content: space-between;
    font-size: unset;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 800;
    height: 64vh;
  }
  .fondo1 .portada2 .parrafos p {
    margin-bottom: 8px;
  }
  .fondo1 .portada2 .ubicacion {
    padding-top: 45px;
  }
  .fondo1 .portada2 .ubicacion h3 {
    font-size: 15px;
    font-weight: 700;
  }
  .fondo1 .portada2 .ubicacion iframe {
    width: 100%;
  }
}

.fondo2 {
  background: linear-gradient(rgba(255, 255, 255, 0.247), rgba(255, 255, 255, 0.247)), url(../../../img/motivacion-gym.avif) no-repeat center;
  background-size: cover;
  text-align: center;
  width: auto;
  height: auto;
  padding: 200px;
  background-attachment: fixed;
}
.fondo2 .container {
  width: 90%;
  margin: 100px auto;
}
.fondo2 .container .container-faq {
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.fondo2 .container .container-faq .title-faq {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}
.fondo2 .container .container-faq .item-faq {
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 10px;
}
.fondo2 .container .container-faq .pregunta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  background: rgba(43, 51, 122, 0.2);
  padding: 20px 20px 20px 80px;
  transition: 0.4s;
}
.fondo2 .container .container-faq .pregunta span {
  position: absolute;
  left: 10px;
  font-size: 3rem;
  top: 10px;
  opacity: 0.1;
}
.fondo2 .container .container-faq .pregunta .more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
}
.fondo2 .container .container-faq .pregunta .more:hover {
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.4);
}
.fondo2 .container .container-faq .respuesta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 20px 20px 80px;
  overflow: hidden;
  /*height: 0; la idea es con javascript hacer click en el + y que te salga la respuesta*/
  transition: 0.4s;
}
.fondo2 .container .container-faq .respuesta p {
  font-size: 1.3rem;
}
.fondo2 .container .container-faq .respuesta span {
  position: absolute;
  left: 10px;
  font-size: 3rem;
  top: -10px;
  opacity: 0.1;
}
@media screen and (max-width: 1024px) {
  .fondo2 {
    padding-bottom: 10px;
  }
  .fondo2 .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .fondo2 {
    padding: 10px;
  }
  .fondo2 .container-faq .title-faq {
    font-size: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .fondo2 {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  .fondo2 .container-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    font-size: 16px;
    padding: 0;
  }
  .fondo2 .container-faq .title-faq {
    font-size: 2.5rem;
    margin-top: 25px;
  }
  .fondo2 .container-faq .item-faq {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 3px;
  }
  .fondo2 .container-faq .item-faq .pregunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}

.fondo3 {
  background: linear-gradient(#ff7575, rgba(255, 255, 255, 0.247)), url(../../../img/training.avif) no-repeat center;
  background-size: cover;
  text-align: center;
  width: auto;
  height: auto;
  padding-bottom: 200px;
  padding-top: 200px;
  background-attachment: fixed;
}
.fondo3 .gridcontainer {
  overflow: hidden;
  display: grid;
  grid-template-areas: "titulo titulo titulo" "article1  article2  article3" "article4  article5 article6";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 2fr 2fr;
  gap: 20px;
}
.fondo3 .gridcontainer .titulo3 {
  grid-area: titulo;
  font-size: 45px;
  font-weight: 800;
}
.fondo3 .gridcontainer .article1 {
  grid-area: article1;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
.fondo3 .gridcontainer .article2 {
  grid-area: article2;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
.fondo3 .gridcontainer .article3 {
  grid-area: article3;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
.fondo3 .gridcontainer .article4 {
  grid-area: article4;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
.fondo3 .gridcontainer .article5 {
  grid-area: article5;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
.fondo3 .gridcontainer .article6 {
  grid-area: article6;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
.fondo3 .gridcontainer article h3 {
  padding-bottom: 20px;
  font-size: 40px;
  font-family: auto;
  text-shadow: 0 5px 5px red;
}
.fondo3 .gridcontainer article iframe {
  height: 50vh;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (max-width: 1024px) {
  .fondo3 .gridcontainer {
    display: grid;
    grid-template-areas: "titulo titulo" "article1  article2" "article3 article4" "article5 article6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 2fr;
    gap: 20px;
  }
}
@media screen and (max-width: 320px) {
  .fondo3 .gridcontainer {
    grid-template-areas: "titulo" "article1" "article2" "article3" "article4" "article5" "article6";
    display: grid;
    grid-template-columns: 1fr;
  }
  .fondo3 .gridcontainer .titulo3 {
    display: flex;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
  }
}

.fondo4 {
  background: linear-gradient(rgba(255, 255, 255, 0.247), rgba(255, 255, 255, 0.247)), url(../../../img/gimnasio.avif) no-repeat center;
  background-size: cover;
  width: auto;
  height: auto;
  padding: 300px;
  background-attachment: fixed;
}
.fondo4 h2 {
  height: 30vh;
  font-size: 4rem;
}
.fondo4 .contactodatos {
  display: grid;
  justify-content: center;
  grid-template-areas: "gridcontacto1" "gridcontacto2" "gridcontacto3" "gridcontacto4" "gridcontacto5" "gridcontacto6";
  grid-template-columns: 1fr;
  font-size: 24px;
  gap: 20px;
  font-weight: 600;
}
.fondo4 .botoncontainer {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.fondo4 .botoncontainer .boton-enviar,
.fondo4 .botoncontainer .boton-limpiar {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.6509803922);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.fondo4 .botoncontainer .boton-enviar:hover,
.fondo4 .botoncontainer .boton-limpiar:hover {
  background-color: #003049;
}
@media screen and (max-width: 768px) {
  .fondo4 {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 100px;
    align-items: center;
  }
  .fondo4 h2 {
    display: flex;
    height: 45vh;
    font-size: 44px;
    width: 260px;
    flex-direction: column;
    justify-content: center;
  }
  .fondo4 .contactodatos {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .fondo4 {
    padding: 20px;
    text-align: center;
  }
  .fondo4 h2 {
    font-size: 35px;
    height: 45vh;
  }
  .fondo4 .contactodatos {
    font-size: 20px;
    max-width: 90%;
    padding-bottom: 50px;
  }
  .fondo4 .contactodatos .botoncontainer {
    font-size: 15px;
  }
  .fondo4 .contactodatos input[type=text],
  .fondo4 .contactodatos input[type=number],
  .fondo4 .contactodatos input[type=email],
  .fondo4 .contactodatos select,
  .fondo4 .contactodatos textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
