//Portatil
@media screen and (max-width: 1024px) {
  header {
    color: white;
    background-color: black;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-item {
    margin: 0px;
  }

  .portada {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-between;
  }



  .datos {
    display: flex;
    flex-direction: column;
    p {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
  .fondo1 .portada2{
  .parrafos {
    width: 100%;
    align-content: space-around;
  }
    .ubicacion {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    h3 {
      width: 50%;
    }
  }
}

  .fondo2 {
    background: linear-gradient(
        rgba(255, 255, 255, 0.247),
        rgba(255, 255, 255, 0.247)
      ),
      url(../../../img/motivacion-gym.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    padding-bottom: 10px;
    background-attachment: fixed;
    .container {
      margin: 100px auto;
      width: 100%;
    }
  }

  footer {
    background-color: black;
    display: flex;
    padding: 35px 2px;
    #footerleft {
      color: white;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      h4 {
        font-size: 1.2rem;
      }
    }
  }
  .fondo3{
  .gridcontainer {
    display: grid;
    grid-template-areas:
      "titulo titulo"
      "article1  article2"
       "article3 article4"
      "article5 article6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 2fr;
    gap: 20px;
}
  }
}
//Tablet
@media screen and (max-width: 768px) {
  header {
    color: white;
    background-color: black;
    font-style: italic;
    display: flex;
  }

  footer {
    background-color: black;
    display: flex;
    padding: 35px 2px;
    justify-content: space-between;
    .footerleft {
      color: white;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .copy {
        width: 100%;
      }
    }
  }
  .portada2 div h2 {
    width: 100%;
  }

  .ubicacion h3 {
    width: 100%;
  }

  .parrafos {
    display: flex;
    margin-top: 45px;
    font-size: large;
    flex-wrap: wrap;
  }

  .fondo {
    background: linear-gradient(
        rgba(255, 255, 255, 0.247),
        rgba(255, 255, 255, 0.247)
      ),
      url(../../../img/pesas.jpg) no-repeat center;
    background-size: cover;
    padding: 171px;
  }

  .fondo2 {
    background: linear-gradient(
        rgba(255, 255, 255, 0.247),
        rgba(255, 255, 255, 0.247)
      ),
      url(../../../img/motivacion-gym.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 100px;
    background-attachment: fixed;
  }

  .container-faq .title-faq {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .fondo4 {
    background: linear-gradient(
        rgba(255, 255, 255, 0.247),
        rgba(255, 255, 255, 0.247)
      ),
      url(../../../img/gimnasio.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    align-items: center;
    h2 {
      display: flex;
      height: 45vh;
      font-size: 44px;
      width: 260px;
      flex-direction: column;
      justify-content: center;
    }
  }
  .gridcontainer {
    display: grid;
    grid-template-areas:
      "titulo titulo"
      "article1  article2"
      "article3 article4"
      "article5 article6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 2fr;
    gap: 20px;
  }
}

//Mobile
@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }

  header {
    text-align: center;
  }

  .headertitulo h1 {
    font-size: 20px;
  }

  .headernav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  nav {
    text-align: center;
    margin-top: 20px;
  }

  .fondo {
    padding: 160px;
  }

  .portada {
    h2 {
      font-size: 35px;
      font-weight: 800;
      padding-top: 85px;
    }
    h3 {
      font-size: 30px;
      text-align: center;
    }
    .boton {
      display: block;
      margin: 10px auto;
    }
  }

  footer {
    flex-direction: column;
    text-align: center;
    .footerleft {
      margin-bottom: 20px;
    }
  }
  //Nosotros
  .portada2 {
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    div h2 {
      width: 100%;
      font-size: 18px;
    }
    .datos li {
      padding: 3px;
    }
    .parrafos {
      margin-bottom: 25px;
      font-size: 15px;
      font-weight: 800;
      height: 64vh;
      p {
        margin-bottom: 8px;
      }
    }
    .ubicacion h3 {
      font-size: 15px;
      font-weight: 700;
    }
    .ubicacion iframe {
      width: 100%;
    }
  }
  .fondo1 .portada2 {
    .parrafos{
    width: 100%;
    display: flex;
    align-content: space-between;
    font-size: unset;
  }
  .ubicacion {
    padding-top: 45px;
}
}
  /*Ejercicios */
  .fondo3 {
    background: linear-gradient(#ff7575, rgba(255, 255, 255, 0.247)),
      url(../../../img/training.jpg)
        no-repeat center;
    padding-bottom: 200px;
    padding-top: 200px;
    background-attachment: fixed;
    .gridcontainer {
      grid-template-areas:
        "titulo"
        "article1"
        "article2"
        "article3"
        "article4"
        "article5"
        "article6";
      display: grid;
      grid-template-columns: 1fr;
      .titulo3 {
        display: flex;
        font-size: 30px;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  /* Contacto */
  .fondo4 {
    padding: 20px;
    text-align: center;
    h2 {
      font-size: 35px;
      height: 45vh;
    }
    .contactodatos {
      font-size: 20px;
      max-width: 90%;
      padding-bottom: 50px;
      .botoncontainer {
        font-size: 15px;
      }
      input[type="text"],
      input[type="number"],
      input[type="email"],
      select,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
      }
    }
  }
  /* Faq */
  .fondo2 {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }

  .container-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    font-size: 16px;
    padding: 0;
    .title-faq {
      font-size: 2.5rem;
      margin-bottom: 30px;
      margin-top: 25px;
    }
    .item-faq {
      margin: 10px 0;
      border: 1px solid #ccc;
      padding: 3px;
      .pregunta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
      }
      .respuesta {
        display: none;
      }
    }
  }
}