//Footer
@import "../utils/mixins";
footer {
  @include caja-flex(space-between, center, nowrap);
  background-color: $colorfondo;
  //Portatil footer
  @include portatil {
    background-color: black;
    display: flex;
    padding: 35px 2px;
  }
  //Tablet footer
  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }
}
#footerleft {
  @include caja-flex(space-evenly, center, wrap);
  color: $colorprimario;
  width: 100%;
  flex-direction: column;
  .redes {
    @include caja-flex(space-around, center, wrap);
    width: 25%;
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    .imag {
      width: 25px;
    }
  }
  //Portatil class footerleft
  @include portatil {
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    h4 {
      font-size: 1.2rem;
    }
  }
  //Tablet class footerleft
  @include tablet {
    display: flex;
    .copy {
      width: 100%;
    }
    body {
      font-size: 14px;
    }
    margin-bottom: 20px;
  }
}
