//Footer
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  #footerleft {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    .redes {
      width: 25%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      list-style-type: none;
      text-decoration: none;
      padding: 0px;
      .imag {
        width: 25px;
      }
    }
  }
}

@import "../utils/mixins";
//Portatil max width 1024px
@include portatil {
  footer {
    background-color: black;
    display: flex;
    padding: 35px 2px;
    #footerleft {
      color: white;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      #footerleft h4 {
        font-size: 1.2rem;
      }
    }
  }
}

//Tablet max width 768px
@include tablet {
  footer {
    background-color: black;
    display: flex;
    padding: 35px 2px;
    justify-content: space-between;
    .footerleft {
      color: white;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .copy {
        width: 100%;
      }
    }
  }
}

//Mobile max width 320px
@include mobile {
  footer {
    flex-direction: column;
    text-align: center;
    .footerleft {
      margin-bottom: 20px;
    }
  }
}
