//Footer
footer {
  background-color: $colorfondo;
  display: flex;
  justify-content: space-between;
  #footerleft {
    color: $colorprimario;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    .redes {
      width: 25%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      list-style-type: none;
      text-decoration: none;
      padding: 0px;
      .imag {
        width: 25px;
      }
    }
  }
}