//Header

@import "../utils/mixins";
header {
  @include caja-flex(space-between,center,nowrap);
  color: $colorprimario;
  background-color: $colorfondo;
  font-style: italic;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;

  .headertitulo {
    display: flex;
    align-items: center;
    img {
      width: 92px;
    }
    a {
      color: $colorprimario;
      text-decoration: none;
    }
  }
  nav ul {
    @include caja-flex(space-evenly,center,wrap);
    list-style-type: none;
    li {
      margin: 0 30px;
      a {
        color: $colorprimario;
        text-decoration: none;
      }
    }
  }
}