//Header
header {
  color: white;
  background-color: black;
  font-style: italic;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;

  .headertitulo {
    display: flex;
    align-items: center;
    img {
      width: 92px;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
      margin: 0 30px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
@import "../utils/mixins";
//Portatil max width 1024px
@include portatil {
  header {
    color: white;
    background-color: black;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
//Tablet max width 768px
@include tablet {
  header {
    color: white;
    background-color: black;
    font-style: italic;
    display: flex;
  }
}

//Mobile max width 320px
@include mobile {
  header {
    text-align: center;
    h1 {
      font-size: 20px;
    }
  }
}
