//Header
header {
  color: $colorprimario;
  background-color: $colorfondo;
  font-style: italic;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;

  .headertitulo {
    display: flex;
    align-items: center;
    img {
      width: 92px;
    }
    a {
      color: $colorprimario;
      text-decoration: none;
    }
  }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
      margin: 0 30px;
      a {
        color: $colorprimario;
        text-decoration: none;
      }
    }
  }
}