//Header
@import "../utils/mixins";
header {
  @include caja-flex(space-between, center, nowrap);
  color: $colorprimario;
  background-color: $colorfondo;
  font-style: italic;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;

  .headertitulo {
    display: flex;
    align-items: center;
    img {
      width: 92px;
    }
    a {
      color: $colorprimario;
      text-decoration: none;
    }
  }
  @include portatil {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  @include tablet {
    header {
      font-style: italic;
      display: flex;
    }
  }
  @include mobile {
    header {
      text-align: center;
      .headertitulo h1 {
        font-size: 20px;
      }
    }
  }
}
