//Navbar

.navbar {
  background-color: black;
}

.nav-link {
  color: white;

  &:hover {
    color: grey;
  }
}

@import "../utils/mixins";

//Portatil max width 1024px
@include portatil{
.nav-item {
  margin: 0px;
}
}

//Mobile max width 320px
nav {
  @include mobile {
    text-align: center;
    margin-top: 20px;
  }
}
