//Reset
@import "./base/reset";

body {
  font-family: Arial, Helvetica, sans-serif;
}
//Utils variables
@import "./utils/variables";
//Layout header
@import "./layout/header";
//Layout navbar
@import "./layout/navbar";
//Layout footer
@import "./layout/footer";
//Pages inicio
@import "./pages/inicio";
//Pages nosotros
@import "./pages/nosotros";
//Pages faq
@import "./pages/faq";
//Pages ejercicios
@import "./pages/ejercicios";
//Pages contacto
@import "./pages/contacto";
//Utils mixins
@import "./utils/mixins";
